.outerCircle {
    width: 35em;
    height: 35em;
    border: 10px dashed white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: rotate(360d); */
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


  @-webkit-keyframes inverseRotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  @keyframes inverseRotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  .outerCircle {
    composes: outerCircle;
    -webkit-animation: rotating 20s linear infinite;
    -moz-animation: rotating 20s linear infinite;
    -ms-animation: rotating 20s linear infinite;
    -o-animation: rotating 20s linear infinite;
    animation: rotating 20s linear infinite;
  }

.centerCircleLockup {
    background: #fff;
    width: 30em;
    height: 30em;
    border-radius: 50%;
    box-shadow: 0 5px 10px 2px;
    padding: 20px;
    text-align: center;
    pointer-events: auto; /* Because we're using a modal */
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    align-items: center;
    justify-items: center;
    -webkit-animation: inverseRotating 20s linear infinite;
    -moz-animation: inverseRotating 20s linear infinite;
    -ms-animation: inverseRotating 20s linear infinite;
    -o-animation: inverseRotating 20s linear infinite;
    animation: inverseRotating 20s linear infinite
}

.logoLockup {
    grid-column-start: 2;
    grid-row-start: 2;
}

.centerCircleLockup h1 {
    margin: 0;
    font-family: sans-serif;
}

.centerCircleLockup p {
    font-size: 24px;
    margin: 0;
}
.centerCircleLockup img {
    height: 2em;
    width: 2em;
}
.centerCircleLockup img:hover {
    cursor: pointer;
}

.top {
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.right {
    grid-column-start: 3;
    grid-row-start: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom {
    grid-column-start: 2;
    grid-row-start: 3;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.left {
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}