.lockup {
    padding: 2.5% 25%;
}

.homePage {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url("../../images/SeasideCliff.jpg");
}

.particles {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
